/* Main Content */
html {
	background-color: #020659;
}

/* MOBILE FIRST VIEWING CSS*/
body {
	width: 375px; 
	margin: 0 auto;
	background-color: white;
	font-family: 'Raleway', sans-serif;
}

header {
	padding: 0px 20px;
	background-image: linear-gradient(to right, #2104D9, #020659, #000000);
}

header h1 {
	margin-top: 80px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 0px 0px 15px;
	font-size: 18px;
	color: white;
}

header p {
	color: white;
    margin-top: 0px;
	font-size: 14px;
	padding: 0 15px 20px 15px;
	
}

nav {
	height: 80px;
	display: inline-block;
	position: absolute;
	background-color: #030A8C;
	top: 0;
	z-index: 1;
}


nav h2 {
	visibility: hidden;
	height: 1px;
}

ul {
	text-align: center;
	margin: 0;
	padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
	background-color: #2104D9;
}
li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

[href="#home"] {
    text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 30px;
	padding: 15px 15px;
}
    h2, h3 {
	font-weight: bold;
	text-transform: uppercase;
    font-size: 20px;
	color: #590242;
}

section > h2 {
	padding-left: 30px;
}

dl {
	display: flex;
	color: #590242;
	margin: 10px 0;
}
dt {
	padding-right: 5px;
	font-size: 16px;
	font-weight: lighter;
	font-style: italic;
	color: #590242;
}
dd {
	margin: 0 0 0 5px;
	font-size: 16px;
}
audio {
	position: absolute;
    bottom: 150px;
    left: 5px;
}

footer {
    font-weight: bold;
    font-size: 10px;
	padding: 5px;
    color: #590242;
    text-align: center;
}

.scroll {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	overflow-x: auto;
	overflow-y: hidden;
}
.scroll section {
	margin: 10px;
	position: relative;
	margin: 10px;
}
.scroll div {
	position: absolute;
	bottom: 4px;
	background-color: rgba(255,255,255,.75);
	padding: 0 0 10px 10px;
	width: 302px;
	height: 55px;
}

.more {
	text-decoration: none;
	display: block;
	width: 150px;
	padding: 10px;
	text-align: center;
	background-color: #590242;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 30px 32px;
	font-size: 14px;
	}		

.more:hover {
	background-color: #020659;
}

/*MOBILE MENU CSS*/

a:hover, input:hover {
    background-color: #590242;
}

label {
	bottom: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: white;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/*END OF MOBILE MENU CSS*/

/*SECTION STYLING*/
#trending h3 {
	margin: 10px 0 5px 0;
    color: #590242;
	font-weight: bold;
	font-size: 16px;
}

#yourPlaylists h3, #curated h3 {
	margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    color: white;
	text-align: center;
}

#yourPlaylists p, #curated p {
	margin: 0 auto;
    font-size: 14px;
    color: white;
	text-align: center;
	padding-top: 10px
}

#yourPlaylists div {
	width: 375px;
	height: 310px;
    background-color: #2699FB;
}
#yourPlaylists section {
	background-color: #0D8DfB;
	padding: 10px;
	text-align: center;
}

#yourPlaylists section:hover, #curated section:hover {
	background-color: #590242
}

#curated div {
	width: 375px;
	height: 310px;;
    background-color: #030A8C;

}
#curated section {
	background-color: #020659;
	padding: 10px;
	text-align: center;
}
/*END OF SECTION STYLING*/



/* SCROLL AND AUDIO STYLES*/
#trending ::-webkit-scrollbar {
	width: 15px;
}
#trending ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 15px #590242;
	}
#trending ::-webkit-scrollbar-thumb {
	background: #590242;
	border-radius: 5px;
	}
#trending ::-webkit-scrollbar-thumb:hover {
	background: #020659;
	}
#yourPlaylists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
	width: 15px;
	}
#yourPlaylists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
	box-shadow: inset 0 0 15px #020659;
	}
#yourPlaylists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
	background: #020659;
	border-radius: 5px;
	}
#yourPlaylists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
	background: white;
	}

/* audio styles */
audio::-webkit-media-controls-mute-button {
	background-color: white;
	border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
	background-color: white;
	border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
	background-color: rgba(255, 255, 255, .5);
}
/*END OF SCROLL AND AUDIO STYLES*/




/* MEDIA QUERY- SCREEN LARGE*/
@media screen and (min-width:834px) {
	body {
		width: 834px;
	}
	
	 label span, input {
        display: none;
    }
	
	nav {
		width: 834px;
	}
	
	[href="#home"] {
		position: static;
	}
	
    ul {
		width: 834px;
		overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		list-style: none;
    }
	
	main {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	
    #trending {
        width: 834px;
        grid-column: 1/3;
    }
	
    #yourPlaylists section, #curated section {
        height: 120px;
        width: 360px;
		
    }
    #yourPlaylists img, #curated img {
        float: left;
        margin-right: 10px;
        padding-bottom:10px;
    }
	
    #yourPlaylists p, #curated p {
        position: absolute;
        top: 25px;
        left: 170px;
		text-align: center;
        padding: 10px 10px 0 0;
    }
    #yourPlaylists .scroll, #curated .scroll {
        overflow-x: hidden;
        overflow-y: auto;
		width: 420px;
        height: 515px;
        grid-template-rows: repeat(5, 40px);
        grid-template-columns: 417px;
		grid-gap: 115px;
    }
    .more {
        float: right;
        margin: 10px 10px 30px 0;
    }
}
/*END OF MEDIA QUERY- SCREEN LARGE*/